.about {
    padding: 81px 0 145px;
    background: #f4f8ff;
    position: relative;
    h2 {
        margin-bottom: 50px;
    }
}
.about__picture {
    width: 790px;
    height: 441px;
    position: absolute;
    z-index: 0;
    bottom: 219px;
    left: 38.125%;
}
.about__info {
    position: relative;
    width: 585px;
    height: 588px;
    z-index: 100;
    padding: 71px 71px 48px 73px;
    color: #ffffff;
    background-color: #4169c1;
    background-image: url("./../img/pictures/about/rail.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-blend-mode: screen;
    h3 {
        color: #ffffff;
    }
    p {
        width: 441px;
        line-height: 156.46%;
        margin-top: 14px;
        margin-bottom: 15px;
    }
}
.about__certificate {
    display: flex;
    li {
        &:first-child {
            margin-right: 23px;
        }
    }
}

@media (max-width: 960px) and (min-width: 640px) {
    .about {
        padding: 70px 0 312px;
        position: relative;
        h2 {
            margin-bottom: 27px;
        }
    }
    .about__picture {
        width: 100%;
        height: fit-content;
        position: absolute;
        z-index: 0;
        bottom: 70px;
        left: 0;
    }
    .about__info {
        width: 100%;
        height: auto;
        z-index: 100;
        padding: 53px 59px 48px;
        background-size: contain;
        h3 {
            color: #ffffff;
        }
        p {
            width: 441px;
            line-height: 156.46%;
            margin-top: 14px;
            margin-bottom: 15px;
        }
    }
    .about__certificate {
        display: flex;
        li {
            &:first-child {
                margin-right: 23px;
            }
        }
    }
}

@media (max-width: 480px) and (min-width: 320px) {
    .about {
        padding: 62px 0 145px;
        h2 {
            margin-bottom: 25px;
        }
    }
    .about__picture {
        width: 100%;
        height: fit-content;
        position: absolute;
        z-index: 0;
        bottom: 70px;
        left: 0;
    }
    .about__info {
        position: relative;
        width: 100%;
        height: auto;
        z-index: 100;
        padding: 42px 28px 55px;
        background-size: contain;
        h3 {
            font-size: 22px;
            line-height: 28px;
        }
        p {
            width: 100%;
            font-size: 14px;
            margin-top: 12px;
            margin-bottom: 32px;
        }
    }
    .about__certificate {
        display: flex;
        li {
            img {
                width: 110px;
                height: 155px;
            }
            &:first-child {
                margin-right: 20px;
            }
        }
    }
}
