.menu {
    background: #ffffff;
    position: sticky;
    top: 0;
    z-index: 1000000;
}
.menu__blocks {
    display: flex;
}
.menu__logo {
    display: flex;
    padding: 22px 0;
    margin-right: 35px;
    img {
        width: 48px;
        height: 45px;
        margin-right: 7px;
    }
}
.menu__title {
    p {
        font-family: Roboto;
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.015em;
        color: rgba(14, 14, 14, 0.61);
    }
}
.menu__nav {
    display: flex;
    height: inherit;
    a {
        display: block;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #001a33;
        padding: 37px 25px;
        height: 90px;
        &:hover {
            background: #4169c1;
            color: rgba(255, 255, 255, 1);
        }
    }
}
.menu__phone {
    padding-top: 28px;
    margin-left: 115px;
    a {
        font-weight: 500;
        font-size: 22px;
        line-height: 28px;
        color: #0b0b0b;
    }
    .menu__img {
        margin-right: 10px;
    }
}
.menu__burger {
    display: none;
}

@media (max-width: 960px) and (min-width: 640px) {
    .menu__blocks {
        justify-content: space-between;
    }
    .menu__logo {
        margin-right: 0px;
    }
    .menu__nav {
        display: none;
    }
    .menu__phone {
        margin-left: 0;
    }
    .menu__burger {
        display: inline-block;
        margin-left: 50px;
    }
}
