@import "./nullstyle";
@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"),
            url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}
@import "./fonts";
body {
    background: gray;
    font-family: Geometria;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: rgba(0, 26, 51, 0.7);
}
h1 {
    font-weight: bold;
    font-size: 44px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.015em;
    color: #ffffff;
}
h2 {
    font-weight: 500;
    font-size: 35px;
    line-height: 44px;
    color: #001a33;
}
h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #001a33;
}
h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
}
h5 {
    width: 95px;
    height: 23px;
    font-family: Play;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #0e0e0e;
}
.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}
.wrapper {
    max-width: 1600px;
    margin: 0 auto;
}
@import "./menu";
@import "./header";
@import "./geography";
@import "./portfolio";
@import "./advantages";
@import "./about";
@import "./footer";
@import "./copyright";

@media (max-width: 960px) and (min-width: 640px) {
    .container {
        max-width: 88.2857143%;
        padding: 0;
    }
    .wrapper {
        max-width: 960px;
    }
    h1 {
        font-size: 38px;
        line-height: 48px;
    }
    h2 {
        font-size: 30px;
        line-height: 38px;
    }
}

@media (max-width: 480px) and (min-width: 320px) {
    .container {
        max-width: 480px;
        padding: 0 10px;
    }
    .wrapper {
        max-width: 480px;
    }
    h1 {
        font-size: 30px;
        line-height: 38px;
    }
    h2 {
        font-size: 26px;
        line-height: 33px;
    }
    h3 {
        font-size: 20px;
        line-height: 25px;
    }
}
