@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

@font-face {
  font-family: "Play";
  font-display: swap;
  src: url("../fonts/Play-Regular.woff") format("woff"), url("../fonts/Play-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  font-display: swap;
  src: url("../fonts/Geometria-Medium.woff") format("woff"), url("../fonts/Geometria-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  background: gray;
  font-family: Geometria;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: rgba(0, 26, 51, 0.7);
}

h1 {
  font-weight: bold;
  font-size: 44px;
  line-height: 55px;
  text-align: center;
  letter-spacing: 0.015em;
  color: #ffffff;
}

h2 {
  font-weight: 500;
  font-size: 35px;
  line-height: 44px;
  color: #001a33;
}

h3 {
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #001a33;
}

h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

h5 {
  width: 95px;
  height: 23px;
  font-family: Play;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #0e0e0e;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.menu {
  background: #ffffff;
  position: relative;
  top: 0;
  z-index: 1000000;
}

.menu__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 22px 0;
  margin-right: 35px;
}

.menu__logo img {
  width: 48px;
  height: 45px;
  margin-right: 7px;
}

.menu__title p {
  font-family: Roboto;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.015em;
  color: rgba(14, 14, 14, 0.61);
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
}

.menu__nav a {
  display: block;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #001a33;
  padding: 37px 25px;
  height: 90px;
}

.menu__nav a:hover {
  background: #4169c1;
  color: white;
}

.menu__phone {
  padding-top: 28px;
  margin-left: 115px;
}

.menu__phone a {
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #0b0b0b;
}

.menu__phone .menu__img {
  margin-right: 10px;
}

.menu__burger {
  display: none;
}

.header {
  position: relative;
  background-image: url("./../img/pictures/header.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.header h1 {
  padding-top: 109px;
  margin: 0 auto 7px;
}

.header p {
  width: 585px;
  font-size: 18px;
  line-height: 156.46%;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
}

.header .form {
  position: relative;
  top: 39px;
  background-size: 102% 119%;
  background-image: url("./../img/pictures/RailBack.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  margin: 0 auto;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 34px 0 50px 73px;
}

.header .form h3 {
  margin-bottom: 25px;
}

.header .form h3 span {
  color: #4169c1;
}

.header .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .form form .form__column1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .form form .form__column1 .form__input p {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  color: #001a33;
  -moz-text-align-last: left;
       text-align-last: left;
  margin-bottom: 2px;
}

.header .form form .form__column1 li {
  width: 235px;
  margin-right: 20px;
}

.header .form form .form__column1 li:last-child {
  width: 278px;
}

.header .form form .form__column1 li:last-child input {
  width: 278px;
}

.header .form form .form__column1 li input {
  width: 235px;
  height: 45px;
  padding-left: 15px;
  border: 1px solid #e7ecf3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header .form form .form__column2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header .form form .form__column2 .form__submit {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  width: 235px;
  height: 50px;
  position: relative;
  bottom: -3px;
  background: #fd6612;
  border-radius: 25px;
}

.geography {
  background-color: #ffffff;
  padding-top: 104px;
  padding-bottom: 64px;
}

.geography .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.geography .container img {
  position: relative;
  width: 724px;
  height: 455px;
  left: -7px;
}

.geography__info {
  padding-top: 25px;
}

.geography__info h3 {
  font-weight: normal;
  line-height: 150.52%;
  color: #001a33;
  margin: 23px 0 19px;
}

.geography__info p {
  width: 484px;
  line-height: 156.46%;
  color: rgba(0, 26, 51, 0.7);
}

.portfolio {
  background: #f4f8ff;
  padding-bottom: 51px;
  padding-top: 71px;
}

.portfolio h2 {
  text-align: center;
  margin-bottom: 38px;
}

.portfolio__carusel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio__button {
  background: none;
}

.portfolio__button svg:hover path {
  stroke-opacity: 1;
}

.portfolio__content {
  margin: 0 47px;
}

.portfolio__content li:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio__content li .portfolio__image {
  width: 408px;
  height: 540px;
}

.portfolio__info {
  padding: 40px 0 0 32px;
  width: 647px;
  height: 445px;
  background: #4169c1;
  position: relative;
  top: 37px;
  color: #ffffff;
}

.portfolio__info h3 {
  color: #ffffff;
}

.portfolio__info p {
  line-height: 156.46%;
  color: rgba(255, 255, 255, 0.7);
  width: 481px;
  margin: 9px 0 29px;
}

.portfolio__info h4 {
  margin-bottom: 17px;
}

.portfolio__info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 22px;
}

.portfolio__info ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 20px;
  width: 277px;
  margin-bottom: 7px;
}

.portfolio__info ul li:nth-child(even) {
  width: 279px;
  margin-left: 33px;
}

.portfolio__info ul li img {
  margin-right: 9px;
}

.portfolio__info button {
  margin-top: 31px;
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  width: 410px;
  height: 70px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #fd6612;
  border-radius: 37.5px;
}

.advantages {
  padding: 79px 0 80px;
  background-color: #ffffff;
}

.advantages .container h2 {
  margin-bottom: 33px;
}

.advantages .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantages .container ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 376px;
  margin-bottom: 34px;
  margin-right: 36px;
}

.advantages .container ul li:nth-child(3n) {
  margin-right: 0;
}

.advantages__icon img {
  margin-right: 37px;
  background-image: url("./../img/icons/advantages/Ellipse.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: -12px;
  position: relative;
}

.advantages__info p {
  font-size: 14px;
  line-height: 150%;
  color: rgba(0, 26, 51, 0.7);
  width: 277px;
}

.about {
  padding: 81px 0 145px;
  background: #f4f8ff;
  position: relative;
}

.about h2 {
  margin-bottom: 50px;
}

.about__picture {
  width: 790px;
  height: 441px;
  position: absolute;
  z-index: 0;
  bottom: 219px;
  left: 38.125%;
}

.about__info {
  position: relative;
  width: 585px;
  height: 588px;
  z-index: 100;
  padding: 71px 71px 48px 73px;
  color: #ffffff;
  background-color: #4169c1;
  background-image: url("./../img/pictures/about/rail.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-blend-mode: screen;
}

.about__info h3 {
  color: #ffffff;
}

.about__info p {
  width: 441px;
  line-height: 156.46%;
  margin-top: 14px;
  margin-bottom: 15px;
}

.about__certificate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__certificate li:first-child {
  margin-right: 23px;
}

.footer {
  position: relative;
  background: #4169c1;
  padding-top: 61px;
  height: 445px;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .container .form {
  width: 718px;
  height: 419px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: relative;
  bottom: 95px;
  padding-top: 40px;
  padding-left: 76px;
}

.footer .container .form h3 {
  margin-bottom: 21px;
}

.footer .container .form form .form__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .container .form form .form__column .form__input .form__lists {
  display: block;
}

.footer .container .form form .form__column .form__input .form__lists li:last-child {
  margin-bottom: 0;
}

.footer .container .form form .form__column .form__input .form__lists .form__list {
  margin-bottom: 10px;
}

.footer .container .form form .form__column .form__input .form__lists .form__list p {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #001a33;
  margin-bottom: 2px;
}

.footer .container .form form .form__column .form__input .form__lists .form__list input {
  width: 278px;
  height: 45px;
  background: #eef2f9;
  border: 1px solid #e7ecf3;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #e7ecf3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer .container .form form .form__column .form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  width: 278px;
}

.footer .container .form form .form__column .form__checkbox p {
  font-size: 12px;
  line-height: 15px;
  color: rgba(16, 16, 16, 0.4);
}

.footer .container .form form .form__column .form__checkbox p span {
  color: #001a33;
  border-bottom: 1px #001a33 solid;
}

.footer .container .form form .form__column .form__sqare {
  width: 12px;
  height: 12px;
  position: relative;
  background: #eef2f9;
  border-radius: 2px;
  margin-top: 2px;
  margin-right: 5px;
}

.footer .container .form form .form__column .form__sqare label {
  width: 6px;
  height: 6px;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
}

.footer .container .form form .form__column .form__sqare label:after {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: #4169c1;
  border-radius: 1px;
  opacity: 0;
}

.footer .container .form form .form__column .form__sqare input[type="checkbox"] {
  visibility: hidden;
}

.footer .container .form form .form__column .form__sqare input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.footer .container .form form .form__column .form__comment {
  margin-left: 29px;
}

.footer .container .form form .form__column .form__comment p {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #001a33;
  margin-bottom: 2px;
}

.footer .container .form form .form__column .form__comment textarea {
  padding: 14px;
  width: 278px;
  height: 195px;
  background: #eef2f9;
  border: 1px solid #e7ecf3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.footer .container .form form .form__column .form__submit {
  width: 278px;
  margin-top: 15px;
  margin-left: 29px;
  height: 50px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #fd6612;
  border-radius: 23.5px;
}

.footer .container .form form .form__column li:first-child {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.footer .container .form form .form__column li:nth-child(2) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.footer .container .form form .form__column li:nth-child(3) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.footer .container .form form .form__column li:nth-child(4) {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.footer__block {
  margin-right: 148px;
  height: 323px;
}

.footer__block h2 {
  color: #ffffff;
  margin-bottom: 24px;
}

.footer__block h4 {
  margin-top: 28px;
  margin-bottom: 29px;
}

.footer__info {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__text li {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 14px;
  margin-right: 21px;
}

.footer__text li:nth-child(2) {
  visibility: hidden;
}

.footer__data li {
  line-height: 20px;
  width: 156px;
  position: relative;
}

.footer__data li:first-child {
  top: 4px;
}

.footer__data li:nth-child(2) {
  margin-top: 20px;
  margin-bottom: 16px;
}

.footer__data li:last-child {
  margin-top: 18px;
}

.footer__data li:last-child address {
  font-size: 14px;
  line-height: 18px;
}

.footer__data a {
  color: #ffffff;
}

.footer__data address {
  font-style: normal;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__links li:nth-child(2) {
  margin: 0 18px;
}

.copyright {
  padding: 35px 0 37px;
  background: #001a33;
}

.copyright__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
}

.copyright__info p {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.53);
  position: relative;
  top: 7px;
}

.copyright__developer img {
  position: relative;
  top: 5px;
  margin-right: 4px;
}

.copyright__developer a {
  font-family: Roboto;
  font-size: 14px;
  line-height: 130%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #ffffff;
}

@media (max-width: 960px) {
  .geography {
    padding-top: 74px;
  }
}

@media (max-width: 838px) {
  .geography {
    padding-top: 113px;
  }
}

@media (max-width: 800px) {
  .geography {
    padding-top: 156px;
  }
}

@media (max-width: 719px) {
  .geography {
    padding-top: 184px;
  }
}

@media (max-width: 960px) and (min-width: 640px) {
  .menu__blocks {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu__logo {
    margin-right: 0px;
  }

  .menu__nav {
    display: none;
  }

  .menu__phone {
    margin-left: 0;
  }

  .menu__burger {
    display: inline-block;
    margin-left: 50px;
  }

  .header {
    background-size: auto 100%;
    background-position: top;
    height: 667px;
  }

  .header h1 {
    padding-top: 76px;
    margin-bottom: 6px;
  }

  .header p {
    width: 74.433657%;
  }

  .header .form {
    top: 22px;
    background-size: 150% 119%;
    padding: 38px 58px 53px 58px;
  }

  .header .form h3 {
    margin-bottom: 14px;
    width: 100%;
  }

  .header .form form {
    display: block;
  }

  .header .form form .form__column1 {
    display: block;
  }

  .header .form form .form__column1 .form__input p {
    margin: 0 0 2px 0;
  }

  .header .form form .form__column1 li {
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
  }

  .header .form form .form__column1 li:last-child {
    width: 100%;
  }

  .header .form form .form__column1 li:last-child input {
    width: 100%;
  }

  .header .form form .form__column1 li input {
    width: 100%;
  }

  .header .form form .form__column2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .header .form form .form__column2 .form__submit {
    width: 100%;
    bottom: 0;
  }

  .geography {
    padding-bottom: 0;
  }

  .geography .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .geography .container img {
    width: 100%;
    height: auto;
    left: 0;
  }

  .geography__info {
    padding-top: 25px;
  }

  .geography__info h3 {
    width: 78.4%;
    font-size: 20px;
  }

  .geography__info p {
    width: 78.4%;
  }

  .portfolio {
    padding-bottom: 36px;
    padding-top: 59px;
  }

  .portfolio h2 {
    margin-bottom: 51px;
  }

  .portfolio__carusel {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .portfolio__content {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0 0 40px 0;
  }

  .portfolio__content .portfolio__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .portfolio__content picture {
    width: 100%;
    height: 340px;
  }

  .portfolio__content li .portfolio__image {
    width: inherit;
    height: inherit;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0 -150px;
       object-position: 0 -150px;
  }

  .portfolio__info {
    padding: 43px 60px 52px 60px;
    width: 100%;
    height: auto;
    top: 0;
  }

  .portfolio__info .portfolio__checklist {
    display: block;
  }

  .portfolio__info p {
    line-height: 156.46%;
    width: 100%;
    margin-bottom: 19px;
  }

  .portfolio__info h4 {
    margin-bottom: 13px;
  }

  .portfolio__info ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 0;
  }

  .portfolio__info ul li {
    width: 231px;
    margin-bottom: 7px;
  }

  .portfolio__info ul li:nth-child(even) {
    width: 231px;
    margin-left: 0;
  }

  .portfolio__info ul li img {
    margin-right: 5px;
  }

  .portfolio__info ul li picture {
    margin-right: 5px;
    width: 24px;
    height: 24px;
  }

  .portfolio__info button {
    width: 100%;
  }

  .advantages {
    padding: 70px 0 14px;
  }

  .advantages .container h2 {
    margin-bottom: 50px;
  }

  .advantages .container ul li {
    display: block;
    width: 277px;
    margin-bottom: 70px;
    margin-right: 41px;
  }

  .advantages .container ul li:nth-child(even) {
    margin-right: 0;
  }

  .advantages .container ul li:nth-child(3) {
    margin-right: 41px;
  }

  .about {
    padding: 70px 0 312px;
    position: relative;
  }

  .about h2 {
    margin-bottom: 27px;
  }

  .about__picture {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: absolute;
    z-index: 0;
    bottom: 70px;
    left: 0;
  }

  .about__info {
    width: 100%;
    height: auto;
    z-index: 100;
    padding: 53px 59px 48px;
    background-size: contain;
  }

  .about__info h3 {
    color: #ffffff;
  }

  .about__info p {
    width: 441px;
    line-height: 156.46%;
    margin-top: 14px;
    margin-bottom: 15px;
  }

  .about__certificate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .about__certificate li:first-child {
    margin-right: 23px;
  }

  .footer {
    padding-top: 38px;
    height: 505px;
  }

  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .footer .container .form {
    width: 56.25%;
    height: auto;
    bottom: 0;
    padding: 30px 40px 23px;
  }

  .footer .container .form h3 {
    margin-bottom: 21px;
  }

  .footer .container .form form .form__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer .container .form form .form__column .form__input {
    width: 100%;
  }

  .footer .container .form form .form__column .form__input .form__lists {
    width: 100%;
  }

  .footer .container .form form .form__column .form__input .form__lists li {
    width: 100%;
  }

  .footer .container .form form .form__column .form__input .form__lists li:last-child {
    margin-bottom: 10px;
  }

  .footer .container .form form .form__column .form__input .form__lists .form__list input {
    width: 100%;
  }

  .footer .container .form form .form__column .form__checkbox {
    margin-top: 0;
  }

  .footer .container .form form .form__column .form__comment {
    margin-left: 0;
    width: 100%;
  }

  .footer .container .form form .form__column .form__comment textarea {
    width: 100%;
    height: 143px;
  }

  .footer .container .form form .form__column .form__submit {
    width: 100%;
    margin-top: 3px;
    margin-left: 0;
    margin-bottom: 12px;
  }

  .footer .container .form form .form__column li {
    width: 100%;
  }

  .footer .container .form form .form__column li:first-child {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .footer .container .form form .form__column li:nth-child(2) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .footer .container .form form .form__column li:nth-child(3) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer .container .form form .form__column li:nth-child(4) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .footer__block {
    margin-right: 21px;
    height: auto;
  }

  .footer__block h2 {
    margin-bottom: 30px;
  }

  .footer__block h4 {
    margin-top: 77px;
    margin-bottom: 72px;
  }

  .copyright {
    height: 180px;
    padding: 38px 0 0;
  }

  .copyright__info {
    display: block;
  }

  .copyright__info p {
    margin-bottom: 47px;
  }

  .copyright__developer img {
    position: relative;
    top: 5px;
    margin-right: 4px;
  }

  .copyright__developer a span {
    width: 151px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

  .container {
    max-width: 88.2857143%;
    padding: 0;
  }

  .wrapper {
    max-width: 960px;
  }

  h1 {
    font-size: 38px;
    line-height: 48px;
  }

  h2 {
    font-size: 30px;
    line-height: 38px;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  .menu__blocks {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu__logo {
    padding: 15px 0 10px;
    margin-right: 0;
  }

  .menu__nav {
    display: none;
  }

  .menu__phone {
    padding-top: 18px;
    margin-left: 0;
  }

  .menu__phone a {
    display: none;
  }

  .menu__burger {
    display: inline-block;
  }

  .header {
    background-position: top;
    background-size: auto 100%;
    height: auto;
    padding-top: 50px;
  }

  .header h1 {
    padding-top: 0;
    margin: 0 auto 15px;
  }

  .header p {
    width: 100%;
    font-size: 16px;
    line-height: 156.46%;
    margin-bottom: -84px;
  }

  .header .form {
    top: auto;
    bottom: -119px;
    background-size: 552% 119%;
    padding: 33px 29px 43px;
  }

  .header .form h3 {
    margin-bottom: 10px;
    width: 100%;
  }

  .header .form form {
    display: block;
  }

  .header .form form .form__column1 {
    display: block;
  }

  .header .form form .form__column1 li {
    width: 100%;
    margin-right: 0;
  }

  .header .form form .form__column1 li:last-child {
    width: 100%;
  }

  .header .form form .form__column1 li:last-child input {
    width: 100%;
  }

  .header .form form .form__column1 li input {
    width: 100%;
  }

  .header .form form .form__column2 {
    display: block;
  }

  .header .form form .form__column2 .form__submit {
    width: 100%;
    bottom: 0;
    margin-top: 16px;
  }

  .geography {
    padding-top: 169px;
    padding-bottom: 46px;
  }

  .geography .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .geography .container img {
    width: 120%;
    height: auto;
    left: -11%;
  }

  .geography__info {
    padding-top: 0;
    position: relative;
    width: 100%;
  }

  .geography__info h3 {
    font-size: 18px;
    margin: 19px 0 11px;
    width: 100%;
  }

  .geography__info p {
    font-size: 14px;
    width: 100%;
    margin-bottom: 11px;
  }

  .portfolio {
    padding-bottom: 50px;
    padding-top: 47px;
  }

  .portfolio h2 {
    margin-bottom: 20px;
  }

  .portfolio__carusel {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .portfolio__content {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0 0 32px 0;
    width: 100%;
  }

  .portfolio__content .portfolio__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .portfolio__content picture {
    width: 100%;
    height: 220px;
  }

  .portfolio__content li .portfolio__image {
    width: inherit;
    height: inherit;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0 0;
       object-position: 0 0;
  }

  .portfolio__info {
    padding: 30px 28px 32px;
    width: 100%;
    height: auto;
    top: 0;
  }

  .portfolio__info .portfolio__checklist {
    display: block;
  }

  .portfolio__info p {
    line-height: 156.46%;
    width: 100%;
    margin: 12px 0 20px;
  }

  .portfolio__info h4 {
    margin-bottom: 16px;
  }

  .portfolio__info ul {
    margin-bottom: 0;
    width: 100%;
  }

  .portfolio__info ul li {
    width: 100%;
    margin-bottom: 9px;
  }

  .portfolio__info ul li:nth-child(even) {
    width: 100%;
    margin-left: 0;
  }

  .portfolio__info ul li picture {
    margin-right: 5px;
    width: 24px;
    height: 24px;
  }

  .portfolio__info button {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
  }

  .advantages {
    padding: 66px 0 8px;
  }

  .advantages .container h2 {
    margin-bottom: 27px;
  }

  .advantages .container ul li {
    display: block;
    width: 100%;
    margin-bottom: 42px;
    margin-right: 0;
  }

  .advantages .container ul li:nth-child(even) {
    margin-right: 0;
  }

  .advantages .container ul li:nth-child(3) {
    margin-right: 0;
  }

  .advantages .advantages__icon img {
    margin-right: 0;
    top: 0;
    margin-bottom: 14px;
  }

  .advantages .advantages__info p {
    width: 100%;
  }

  .about {
    padding: 62px 0 145px;
  }

  .about h2 {
    margin-bottom: 25px;
  }

  .about__picture {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: absolute;
    z-index: 0;
    bottom: 70px;
    left: 0;
  }

  .about__info {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 100;
    padding: 42px 28px 55px;
    background-size: contain;
  }

  .about__info h3 {
    font-size: 22px;
    line-height: 28px;
  }

  .about__info p {
    width: 100%;
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 32px;
  }

  .about__certificate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .about__certificate li img {
    width: 110px;
    height: 155px;
  }

  .about__certificate li:first-child {
    margin-right: 20px;
  }

  .footer {
    padding-top: 57px;
    height: auto;
  }

  .footer .container {
    display: block;
  }

  .footer .container .form {
    width: 100vw;
    left: -10px;
    height: auto;
    bottom: 0;
    padding: 30px 40px 31px;
  }

  .footer .container .form h3 {
    margin-bottom: 21px;
  }

  .footer .container .form form .form__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer .container .form form .form__column .form__input {
    width: 100%;
  }

  .footer .container .form form .form__column .form__input .form__lists {
    width: 100%;
  }

  .footer .container .form form .form__column .form__input .form__lists li {
    width: 100%;
  }

  .footer .container .form form .form__column .form__input .form__lists li:last-child {
    margin-bottom: 10px;
  }

  .footer .container .form form .form__column .form__input .form__lists .form__list input {
    width: 100%;
  }

  .footer .container .form form .form__column .form__checkbox {
    margin-top: 0;
  }

  .footer .container .form form .form__column .form__comment {
    margin-left: 0;
    width: 100%;
  }

  .footer .container .form form .form__column .form__comment textarea {
    width: 100%;
    height: 143px;
  }

  .footer .container .form form .form__column .form__submit {
    width: 100%;
    margin-top: 3px;
    margin-left: 0;
    margin-bottom: 12px;
  }

  .footer .container .form form .form__column li {
    width: 100%;
  }

  .footer .container .form form .form__column li:first-child {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .footer .container .form form .form__column li:nth-child(2) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .footer .container .form form .form__column li:nth-child(3) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer .container .form form .form__column li:nth-child(4) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .footer__block {
    margin-right: 0;
    height: auto;
  }

  .footer__block h2 {
    margin-bottom: 28px;
  }

  .footer__block h4 {
    margin-top: 28px;
    margin-bottom: 29px;
  }

  .footer__block .footer__links {
    margin-bottom: 46px;
  }

  .copyright {
    height: 180px;
    padding: 38px 0 0;
    margin-top: -7px;
  }

  .copyright__info {
    display: block;
  }

  .copyright__info p {
    margin-bottom: 47px;
  }

  .copyright__developer img {
    position: relative;
    top: 5px;
    margin-right: 4px;
  }

  .copyright__developer a span {
    width: 151px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

  .container {
    max-width: 480px;
    padding: 0 10px;
  }

  .wrapper {
    max-width: 480px;
  }

  h1 {
    font-size: 30px;
    line-height: 38px;
  }

  h2 {
    font-size: 26px;
    line-height: 33px;
  }

  h3 {
    font-size: 20px;
    line-height: 25px;
  }
}

.webp .header{ background-image: url(./../img/pictures/header.webp); }